.header-main {
	margin-top: 82px;
}

.intro {
	background-image: url("../images/main.jpeg");
	background-size: cover;
}

.parallax {
	background-attachment: fixed;
}

@media only screen and (max-device-width: 768px) {
  .parallax {
    background-attachment: scroll;
  }
}

.item-slide {
	margin: 20px 10px;
}

footer .btn-sm {
	padding: 7.5px 10px;
}