.header-main {
  margin-top: 7.5rem !important;
}

.header-main[nvg="true"] {
  margin-top: 5rem !important;
}

.intro {
	background-image: url("../images/main.jpeg");
	background-size: cover;
  	display: flex;
  	flex: 1 0 auto;
  	position: relative;
  	z-index: -1;
  	justify-content: center;
  	align-items: center;
  	transform: translateZ(-10px) scale(13);
}

.intro .row 
{
	transform: translateZ(0px) scale(0.85);
}

.section-intro 
{
  perspective: 1px;
  transform-style: preserve-3d;
  overflow: hidden;
}

.aparallax {
  position: relative;
  display: block;
  background-color: white;
  z-index: 1;
}

.parallax {
	background-attachment: fixed;
}

@media only screen and (max-device-width: 768px) {
  .parallax {
    background-attachment: scroll;
  }
}

.item-slide {
	margin: 20px 10px;
}

.owl-dot {
  background-color: #ffffff;
}

.badge-offer {
  font-family: "Nunito Sans";
}

footer .btn-sm {
	padding: 7.5px 10px;
}

.badge-big-new {
  font-size: 1.4rem;
  padding: 5px 15px;
}

.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.md-form i, .ic i {
  background: #000;
  color: #fff;
  padding: 10px;
}

.ic i {
  border-radius: 100%;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
}