@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cantarell&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
}

section{
	padding: 90px; /* ПРИДУМАТЬ КАК СДЕЛАТЬ ОТСТУПЫ ТАК ЧТОБЫ ВЕРТИКАЛ ЭЛАЙН БЫЛ ВСЕ ЕЩЕ КРАСИВЫЙ*/
	/*АДАПТАЦИЯ ЗАГЛАВНОГО ЭКРАНА ПОД ТЕЛЕФОН*/
}

@media only screen and (max-width: 992px) {
	section {
		padding: 50px;
	}
}


.custom-navbar {
	border-bottom: 8px solid #00699B;
	background-color: #FFFFFF;
}

.custom-navbar .icon {
	display: inline-block;
}

.custom-navbar li a {
	color: #00699B;
	display: block;
	padding: 0.9em 0.6em;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 800;
	text-align: center;

}

.custom-navbar .active a {
	background-color: #00699B;
	color: #fff;
}

.home{
	height: 650px;
	background: url("../img/macheta-final.png") center no-repeat;
	background-size: cover;
	transform: translateY(0px); /*????*/
}

.home .home-logo img {
	width: 350px;
	z-index: 3;
	border: 12px solid #00699B;
	border-radius: 100%;
}

.home .blank {
	width: 0px;
	height: 200px;
	position: absolute;
	z-index: -2;
	background-color: #fff;
	transform: skewX(-20deg);
	border-right: 12px solid #00699B;
	border-left: 12px solid #00699B;
}

@media only screen and (max-width: 992px) {
	.home {
		transform: translateY(0);
	}

	.home .home-logo img {
		width: 250px;
	}
}

.home .logo {
	display: none;
}

.home .logo img{
	width: 200px;
	border-radius: 100%;
}

#team .card {
	width: 350px;
	border: 8px solid #f0f0f0;
	background-color: #f0f0f0;
}

#team .card img {
	height: 400px;
	object-fit: cover;
}

@media only screen and (max-width: 992px) {
	#team .card img {
	height: 600px;
	object-fit: cover;
}
}

#team .card .card-title {
	font-weight: bolder;
}

#team .card .card-text {
	font-size: 1.1rem;
	color: #575757;
}

#team .section-title {
	color: #00699B;
	font-weight: bolder;
}

#write {
	background: url("../img/write-bg-3.jpg") center no-repeat;
	background-size: cover;
}

#write .section-title {
	background-color: #28a745;
	padding: 0.3em;
	border-radius: 50px;
}

#write .write-block {
	background-color: rgba(255, 255, 255, 0.5);
	border: 10px solid #fff;
	border-radius: 50px;
	padding: 1em 2em;
	margin: 40px 0; 
}

.form-control {
	margin: 0.8em 0;
	border-radius: 15px
}

.btn-form {
	width: 10em;
	padding: 0.7em;
	margin-top: 1em;
	border-radius: 50px;
}

#contacts {
	background-image: linear-gradient(to bottom left, #833AB4, #C13584, #E1306C, #F56040, #F77737, #FCAF45);
}

.left-contacts {
	background-color: rgba(255, 255, 255, 0.2);
	height: 420px;
	border: 10px solid #fff;
}

#contacts .contacts-logo {
	width: 80px;
	height: auto;
}

#contacts i, #contacts p{
	display: inline-block;
	font-size: 2rem;
}

#contacts h2, #contacts p {
	font-family: 'Cantarell', sans-serif;
}